{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bruhh</title>
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body>
	<div class="nav">
		<div class="nav-link-container">
			<a href="#">Home</a>
			<a href="#">Notifications</a>
			<a href="#">Wala ra btaw niy gamit</a>
		</div>
	</div>

	<div class="container" id="app">
		<section class="left">
			<div class="profilecard">
				<div class="header" v-bind:style="{ 'background-image' : headerImg }"></div>
				<div class="userpic" v-bind:style="{ 'background-image' : pic }" v-on:mouseover="pic = 'url(/static/images/profpic2.jpg)'" v-on:mouseout="pic = 'url(/static/images/profpic.jpg)'"></div>
				<div class="name-username-div">
					<a href="#" class="name">[[ name ]]</a><br>
					<a href="#" class="username">@[[ username ]]</a>
				</div>
				<div class="stats">
					<div class="num-of-tweets">
						<span>Tweets</span>
						<div class="numbers">555</div>
					</div>
					<div class="num-of-following">
						<span>Following</span>
						<div class="numbers">666</div>
					</div>
					<div class="num-of-followers">
						<span>Followers</span>
						<div class="numbers">777</div>
					</div>
				</div>
			</div>
		</section>

		<!--  -->
		<div class="userfeed">
			<form v-on:submit.prevent="postTweet">
				<div class="new-tweet-field">
					<textarea v-model="content" v-on:focus="expand" v-on:blur="collapse" v-bind:style="{ height : textAreaHeight }" placeholder="What's happening?"></textarea>
					<button type="submit" v-bind:disabled="disabledSubmit" v-bind:style="{ display : displaySubmit }">Tweet</button>
				</div>
			</form>

			<tweet-list inline-template>
	            <div v-cloak>
	                <div v-for="tweet in tweets" :key="tweet.pk">
	                    <div class="tweet-wrapper">
							<div class="poster-pic-wrapper">
								<div class="poster-pic" v-bind:style="{ 'background-image' : pic }" v-on:mouseover="pic = 'url(/static/images/profpic2.jpg)'" v-on:mouseout="pic = 'url(/static/images/profpic.jpg)'"></div>
							</div>
							<div class="post-info">
								<div class="poster-name">[[ name ]]</div>
				‏				<div class="poster-username"> @[[ username ]] · </div>
								<div class="time-posted"> (some time ago) </div>
								<div class="post-content"> [[ tweet.fields.content ]] </div>
							</div>
							<div class="post-settings" v-on:click="deleteTweet(tweet)">×</div>
							<div class="post-options">
								<button class="reply"><div></div><span>123K</span></button>
								<button class="retweet"><div></div><span>123K</span></button>
								<button class="favorite"><div></div><span>123K</span></button>
							</div>
						</div>
	                </div>
	            </div>
		    </tweet-list>
		</div>

		<!--  -->
		<section class="right">
			<p>Disclaimer: ang mabuhat ra btaw ani kay create/read/delete tweets (pa-char2 ra ning UI kay nalingaw kos sass unya dili diay ni responsive hahahaha) huhu sorry kuya karon ra ko kaimplement sa Vue.js n00b pa jud ko ani have mercy o(TヘTo)</p>
		</section>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="{% static 'js/app.js' %}"></script>
</body>
</html>