{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bruhh</title>
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body>
	<div class="nav">
		<div class="nav-link-container">
			<a href="#">Home</a>
			<a href="#">Notifications</a>
			<a href="#">Wala ra btaw niy gamit</a>
		</div>
	</div>

	<div class="container" id="app">
		<section class="left">
			<div class="profilecard">
				<div class="header"></div>
				<div class="userpic"></div>
				<div class="name-username-div">
					<a href="#" class="name">wala na</a><br>
					<a href="#" class="username">@finish_na</a>
				</div>
				<div class="stats">
					<div class="num-of-tweets">
						<span>Tweets</span>
						<div class="numbers">555</div>
					</div>
					<div class="num-of-following">
						<span>Following</span>
						<div class="numbers">666</div>
					</div>
					<div class="num-of-followers">
						<span>Followers</span>
						<div class="numbers">777</div>
					</div>
				</div>
			</div>
		</section>

		<!--  -->
		<div class="userfeed">
			<form v-on:submit.prevent="postTweet">
				<div class="new-tweet-field">
					<textarea v-model="content" rows="2" placeholder="What's happening?"></textarea>
					<button type="submit" v-bind:disabled="disabled" v-bind:style="{ display : display }">Tweet</button>
				</div>
			</form>

			<tweet-list inline-template>
	            <div v-cloak>
	                <div v-for="tweet in tweets" :key="tweet.pk">
	                    <div class="tweet-wrapper">
							<div class="poster-pic-wrapper">
								<div class="poster-pic"></div>
							</div>
							<div class="post-info">
								<div class="poster-name">wala na </div>
				‏				<div class="poster-username"> @finish_na · </div>
								<div class="time-posted"> (some time ago) </div>
								<div class="post-content" v-text="tweet.fields.content"></div>
							</div>
							<div class="post-settings" v-on:click="deleteTweet(tweet)">×</div>
							<div class="post-options">
								<button class="reply"><div></div><span>123K</span></button>
								<button class="retweet"><div></div><span>123K</span></button>
								<button class="favorite"><div></div><span>123K</span></button>
							</div>
						</div>
	                </div>
	            </div>
		    </tweet-list>
		</div>

		<!--  -->
		<section class="right">
		</section>
	</div>




	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- <script src="{% static "js/vue_app.js" %}"></script> -->
	<script type="text/javascript">
		window.Event = new Vue();

		Vue.component('tweet-list', {
			data() {
				return {
					tweets: []
				}
			},
			mounted() {
				axios.get('/tweets/')
				.then(response => this.tweets = response.data)
				.catch(response => console.log('error: '+ response))
			},
			created() {
				Event.$on("delete", (data) => this.tweets.splice(this.tweets.indexOf(data), 1));
				Event.$on("submit", (data) => this.tweets.splice(0, 0, data[0]));
			},
			methods: {
				deleteTweet : function(tweet) {
					axios({
						method: 'DELETE',
						url: '/tweets/',
						data: {
							pk: tweet.pk
						}
					}).then((response) => {
						console.log(response);
						Event.$emit("delete", tweet);
					}).catch((response) => {
						console.log(response);
					});
				}
			}
		});


		var app = new Vue({
			delimiters: ['[[',']]'],
			el: '#app',
			data: {
				content: '',
				disabled: true,
				display: 'none',
				expanded: {
					height: '1.2em',
					minHeight: ''
				}
			},
			watch: {
				'content': function() {
					if(this.content == ''){
						this.disabled = true;
					}
					else{
						this.disabled = false;
					}
				}
			},
			methods: {
				postTweet() {
					axios({
						method: 'POST',
						url: '/tweets/',
						data: {
							content: this.content
						}
					}).then((response) => {
						console.log(response);
						this.content = '';
						Event.$emit("submit", response.data);
					}).catch((response) => {
						console.log(response);
					});
				}
			}
		})

	</script>
	<script type="text/javascript" src="{% static 'js/textarea-expand.js' %}"></script>
</body>
</html>